*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.icon{
    position: absolute;
    font-size: 1.8rem;
    text-align: center;
    transform: translate(15%,15%);
}
.inputData{
    font-size: 1.2rem;
}
.buttonData{
    width: 9rem;
    text-align: center;
    border: 1px solid #eee;
}
