* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
/* COMMON DATA*/
html {
    font-size: 15px;
}

body {
    margin: 5%;
}

a{
    text-decoration: none;
    background-color: red;
    color: aliceblue;
    padding: 5px;
    text-transform: uppercase;
    border-radius: 12%;
}

a:hover{
    background-color: aliceblue;
    color: red;
    transition: 0.5s;
}

a:visited{
    background-color: black;
    color: red;
}
a:visited:hover{
    background-color: red;
    color: aliceblue;
    transition: 0.5s;
}

ul{
    list-style-type: none ;
}

ul li{
    background-color: rgb(255, 149, 0);
    padding: 2px 5px;
    margin: 2px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    border-radius: 12%;
}
ul li:hover{
    cursor: pointer;
    background-color: rgb(199, 37, 37);
    transition: 1s;
}

img{
    width: 100%;
    height: auto;
    transition: 1.5s;
    margin-bottom: 1%;
}

img:hover{
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .9);
    cursor: pointer;
}
/* DATA */

/* float kullanıyorsan bunu kullan*/
.specialClearFix {
    content: "";
    display: block;
    clear: both;
}

h2 {
    color: indianred
}

.divClass {
    border: 1px solid #055;
    margin: 2px;
    height: auto;
    width: 99%;
    float: left;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-left-radius: 5%;
    border-top-right-radius: 4%;
    border-radius: 5%;
    /* kenarları yuvarlama*/

}

.divClass:hover {
    /* display: none; */
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .9); /* yatayda koordinat, dikeyde koordinat, dağılma, koyuluk */
}

/* paragrafa id verilirse #paragID{} şeklinde de yazılabilir*/
.divClass p {
    color: blue;
    color: rgb(0, 0, 255);
    color: #055;
    color: #0b4c9f;
    color: rgba(218, 39, 39, 0.9);
    /* sonundaki değer saydamlık*/
    background-color: cadetblue;

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding: 10px;
    /* 4 tarfatan 10px kısayol*/
    padding: 10px 20px;
    /* yukarı ve aşağı 10px sağ ve sol 20px*/

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin: 10px;
    margin: 10px 20px;
    /* padding yazılar ve div arası boşlukları, margin div'ler arası boşlukları ayarlamada */
    text-align: justify; /* justify yazıyı satırda ortalanmış şekilde yazar */
    text-decoration: underline;
    text-shadow: -1px 0px ; /* x düzleminde ve y düzleminde gölgelendirme*/
    text-transform: uppercase;
    text-indent: 25px;/* paragraf başından girinti */

    /* 
    webkit: safari,opera,chrome
    moz: smozilla  
    */
    -webkit-column-count: 2;
    -webkit-column-rule: 1.5px solid black;

    -moz-column-count: 2;
    -moz-column-rule: 1.5px solid black;

    column-count: 2; /* kolonu ikiye bölüyor*/
    column-rule: 1.5px solid black; /* araya çizgi çekme*/
    
}

.divClass p:hover{
    cursor: pointer;
    color: black;
    background-color:rgba(218, 39, 39, 0.9);
    display: block;
    display: inline;
    display: inline-block;
    transition: 2s all;
    transform: rotate(360deg);
    
}